* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.main {
  width: 100%;
  height: 100vh; }

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25vh;
  text-align: center;
  padding: 7vh 0; }
  .header img {
    width: 100px;
    height: 100px; }
  .header .header-text {
    text-align: left;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 15px;
    color: #9ACD32; }
  .header .header-text h1:nth-child(2) {
    color: #1C86EE; }

.search {
  width: 100%;
  height: 20vh;
  text-align: center; }
  .search .search-content {
    padding: 40px;
    font-size: 10px;
    font-style: italic; }
  .search .search-content h1 {
    color: #1C86EE;
    margin-bottom: 15px; }
  .search .search-content input {
    border-radius: 20px;
    border: 2px solid #9ACD32;
    width: 450px;
    height: 40px; }
  .search .search-button {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    margin-left: -40px;
    position: fixed;
    padding-top: 10px; }

.results {
  margin: 30px 0;
  text-align: center; }
  .results #block {
    display: flex;
    justify-content: center; }
  .results .first-row {
    display: flex;
    justify-content: center; }
    .results .first-row .name {
      width: 300px;
      height: 50px;
      margin: 30px 10px; }
    .results .first-row .value {
      width: 300px;
      height: 50px;
      margin: 30px 10px; }
  .results .second-row {
    display: flex;
    justify-content: center; }
    .results .second-row .data {
      width: 300px;
      height: 50px;
      margin: 30px 10px; }
    .results .second-row .deliver {
      width: 300px;
      margin: 30px 10px;
      height: 50px; }
