$text-width: 300px
$text-height: 50px
$text-margin: 30px 10px
$text-color: #1C86EE
$text-font-weight: bold

.results
	margin: 30px 0
	text-align: center
	#block
		display: flex
		justify-content: center
		color: #1E90FF
		font-style: italic
		font-size: 12px
		font-weight: 300
	.first-row
		display: flex
		justify-content: center
		.name
			color: $text-color
			height: $text-height
			margin: $text-margin
			font-weight: $text-font-weight
			width: $text-width
		.value
			color: $text-color
			height: $text-height
			font-weight: $text-font-weight
			margin: $text-margin
			width: $text-width
	.second-row
		display: flex
		justify-content: center
		.data
			color: $text-color
			height: $text-height
			font-weight: $text-font-weight
			margin: $text-margin
			width: $text-width
		.deliver
			color: $text-color
			height: $text-height
			font-weight: $text-font-weight
			margin: $text-margin
			width: $text-width