@import 'search'
@import 'results'
@import 'header'
*
	padding: 0
	margin: 0
	box-sizing: border-box
	font-family: 'Poppins', sans-serif

.main
	width: 100%
	height: 100vh


.notFoundMessage
	margin-top: 100px
	color: red
	font-weight: bold

@media only screen and (max-width: 550px) 
	.search-content h1
		font-size: 15px
	.search 
		.search-content input
			width: 300px
			font-size: 12px
		.search-button
			margin-top: -40px
			margin-left: 115px
			width: 27px
			height: 27px
	.results
		.first-row
			display: block
		.first-row .name
			margin: 20px auto
		.first-row .value
			margin: 20px auto
		.second-row
			display: block
		.second-row .data
			margin: 20px auto
		.second-row .deliver
			margin: 20px auto



